.site-nav-main {
    width: 100%;
    max-width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;

    .mobile-nav-header {
        display: none;
        padding: 21px 31px;
        text-transform: uppercase;

        a {
            &:hover,
            &.active {
                text-underline-offset: 4px;
                text-decoration: underline;
            }
        }
    }

    @media(max-width: 768px) {
        .mobile-nav-header {
            display: flex;
        }
    }

    .hamburger {
        border: 0;
        position: absolute;
        right: 26px;
        top: 15px;

        cursor: pointer;
        display: block;
        background-color: transparent;

        .bar {
           display: block;
           width: 22px;
           height: 2px;
           margin: 5px auto;
           background-color: #000; 
        }
    }

    .main-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 21px 31px;
        text-transform: uppercase;
        position: relative;

        .main-nav-link {
            display: inline-block;

            @media(max-width: 768px) {
                padding-bottom: 1em;
            }

            &:nth-child(2) {
                margin-left: 48px;
            }

            @media(max-width: 768px) {
                &:nth-child(2) {
                    display: none;
                }
            }

            a {
                &:hover,
                &.active {
                    text-underline-offset: 4px;
                    text-decoration: underline;
                }
            }
        }

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            width: calc(100% - 62px);
            transform: translateX(-100%);
            -webkit-box-shadow: 0px 17px 23px -21px rgba(0,0,0,0.39);
            -moz-box-shadow: 0px 17px 23px -21px rgba(0,0,0,0.39);
            box-shadow: 0px 17px 23px -21px rgba(0,0,0,0.39);
            
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            -ms-transition: all 250ms ease;
            -o-transition: all 250ms ease;
            transition: all 250ms ease;

            &::after {
                content: "";
                background-color: #ffffff;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 0.7;
            }

            &.active {
                backdrop-filter: blur(4px);
                transform: translateX(0%);
            }
        }
    }
}