@import './_variables';
@import './_navigation';

html, * {
    box-sizing: border-box;   
    margin: 0;
    padding: 0; 
} 

#root {
    min-height: 100vh;
    position: relative;
    background: 
    repeating-radial-gradient(#242526 0 0.0001%,#7e8083 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#242526 0 0.0001%,#7e8083  0 0.0002%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation: static .2s infinite alternate;
}

@keyframes static {
    100% {background-position: 50% 0, 60% 50%}
  }

.main {
    min-height: 100vh;
    position: relative;
    display: block;
    margin: 0 auto;
    width: calc(100% - 62px);
    max-width: 100%;
    transition: .2s ease transform;
    padding-top: 62px;
    color: #ffffff;
}

@media(max-width: 768px) {
    .main {
        width: calc(100% - 31px);
    }
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;

    li {
        display: block;
    }
}

a {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border-width: 0;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
}

.page-title {
    border-bottom: 1px solid;
    h1 {
        text-transform: uppercase; 
        padding-bottom: 10px;
    }
}

.visuallyhidden {
    display: none;
    opacity: 0;
    height: 0;
}

.x-close {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;

    .stroke {
        position: absolute;
        content: ' ';
        height: 33px;
        left: 15px;
        width: 1px;
        background-color: #ffffff;

        &:first-child {
            transform: rotate(45deg);
        }
        &:last-child {
            transform: rotate(-45deg);
        }
    }
}