@import './_variables';
@import './_navigation';

html, * {
    box-sizing: border-box;   
    margin: 0;
    padding: 0; 
} 

#root {
    min-height: 100vh;
    position: relative;
}

.main {
    min-height: calc(100vh - 62px);
    position: relative;
    display: block;
    margin: 0 auto;
    width: calc(100% - 62px);
    max-width: 100%;

    transition: .35s ease transform;
    padding-top: 62px;
}

@media(max-width: 768px) {
    .main {
        width: calc(100% - 31px);
    }
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;

    li {
        display: block;
    }
}

a {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border-width: 0;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
}

.page-title {
    border-bottom: 1px solid;
    h1 {
        text-transform: uppercase; 
        padding-bottom: 10px;
    }
}

.visuallyhidden {
    display: none;
    opacity: 0;
    height: 0;
}

.x-close {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;

    .stroke {
        position: absolute;
        content: ' ';
        height: 33px;
        left: 15px;
        width: 1px;
        background-color: #ffffff;

        &:first-child {
            transform: rotate(45deg);
        }
        &:last-child {
            transform: rotate(-45deg);
        }
    }
}