.project {
    position: absolute;
    top: 61px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background: #ffffff;
    width: calc(100% - 62px);
    max-width: 550px;
}